<!DOCTYPE html>
<html lang="en">
<form method="get" action="/8_Lab/public/">
    <button type="submit" name="getAllRecords" size="28">Получить все записи</button>
    <button type="submit" name="getByID" size="28">Получить все записи по ID</button>
    <button type="submit" name="getByFieldValue" size="28">Получить все записи по значению поля</button>
    <button type="submit" name="saveRecord" size="28">Сохранение записи</button>
    <button type="submit" name="deleteRecord" size="28">Удаление записи</button>
</form>
</html>
