<form action="/8_Lab/public/" method="GET">
    <br><label> ID <input name="id" type="text"> </label><br>
    <label> Название <input name="name" type="text"> </label><br>
    <label> Автор <input name="author_name" type="text"> </label><br>
    <label> Что сделать</label>
    <select name="action">
        <option value="add">Добавить</option>
        <option value="upd">Обновить</option>
    </select><br>
    <button>Выполнить</button>
</form>
