<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Автор</th>
    </tr>
    </thead>
    <tbody>
    {%  for row in t %}
        <tr>
            <td>{{row.article_id}}</td>
            <td>{{row.article_name}}</td>
            <td>{{row.article_author}}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>

